
@{
    ViewBag.Title = "Index";
}

<h2>QuestionBase - A way to test your knowledge</h2>

<h3>Why is this useful?</h3>
<span>
    The Project idea is to be able to create your own base of questions and then to be able to go through them when you are preparing for an interview.
</span>
<br/><br/>
<span>
    You will be able to see the question, then think for a while and can see the answer. Very simple, but good place to store all the nasty interview questions.
</span>