@using System.Collections
@model  Repository.Entities.QuestionEntity
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <h1>Start Test</h1>
    </div>
</div>
    <div class="row">

        @using (Html.BeginForm("Index", "TakeTest", FormMethod.Post))
        {
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="col-md-4">
                    Select Test
                    @Html.DropDownList("QuestionTypeEntityId", "Select")
                </div>

                <div class="col-md-4">
                    Minimum  @Html.LabelFor(x => x.DifficultyLevel)
                    @Html.DropDownList("DifficultyLevel", String.Empty)
                </div>

                <div class="col-md-4">
                    <input type="submit" value="Start Test" class="btn btn-primary btn-default" />
                </div>
            </div>
        }
    </div>

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            console.log("ready!");
            $("#QuestionTypeEntityId").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "300px"
            });
            $("#DifficultyLevel").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "300px"
            });
        });
    </script>

}
